.demo-home-page {
    width: 100%;
    height: 100%;
    padding-top: 85px;
    background-image: url('https://img.alicdn.com/tfs/TB1zsNhXTtYBeNjy1XdXXXXyVXa-2252-1500.png');
    background-size: cover;
    >div {
        width: 800px;
        margin: 0 auto;
    }
}